In [1]:
import pandas as pd

df_data_sampah = pd.read_excel('DataSampah.xlsx')[['nama_kabupaten_kota', 'jumlah_produksi_sampah', 'tahun']]
df_data_sampah

    nama_kabupaten_kota  jumlah_produksi_sampah  tahun
0       KABUPATEN BOGOR                 1511.15   2015
1    KABUPATEN SUKABUMI                  419.01   2015
2     KABUPATEN CIANJUR                  981.41   2015
3     KABUPATEN BANDUNG                 1895.94   2015
4       KABUPATEN GARUT                  464.74   2015
..                  ...                     ...    ...
238         KOTA BEKASI                     NaN   2023
239          KOTA DEPOK                     NaN   2023
240         KOTA CIMAHI                     NaN   2023
241    KOTA TASIKMALAYA                     NaN   2023
242         KOTA BANJAR                     NaN   2023

[243 rows x 3 columns]