In [17]:
import pandas as pd

df_data_sampah = pd.read_excel('DataSampah.xlsx')[['nama_kabupaten_kota', 'jumlah_produksi_sampah', 'tahun']]
print (df_data_sampah)

tahun_datasampah = int(input("Masukkan tahun (2015-2021): "))

if tahun_datasampah in df_data_sampah['tahun'].unique():
    data_tahun_datasampah = df_data_sampah[df_data_sampah['tahun'] == tahun_datasampah]
    total_produksi_sampah = data_tahun_datasampah['jumlah_produksi_sampah'].sum()
    print(f"Total produksi sampah di Jawa Barat pada tahun {tahun_datasampah} adalah {total_produksi_sampah:.2f} ton per hari.")
else:
    print(f"Tahun {tahun_datasampah} tidak ada di dalam data. Silakan masukan tahun antara 2015 dan 2021.")

    nama_kabupaten_kota  jumlah_produksi_sampah  tahun
0       KABUPATEN BOGOR                 1511.15   2015
1    KABUPATEN SUKABUMI                  419.01   2015
2     KABUPATEN CIANJUR                  981.41   2015
3     KABUPATEN BANDUNG                 1895.94   2015
4       KABUPATEN GARUT                  464.74   2015
..                  ...                     ...    ...
184         KOTA BEKASI                 1500.77   2021
185          KOTA DEPOK                 1418.87   2021
186         KOTA CIMAHI                  193.36   2021
187    KOTA TASIKMALAYA                  295.87   2021
188         KOTA BANJAR                   60.29   2021

[189 rows x 3 columns]

Total produksi sampah di Jawa Barat pada tahun 2016 adalah 20969.27 ton per hari.

In [15]:
import pandas as pd

df_data_sampah = pd.read_excel('DataSampah.xlsx')[['nama_kabupaten_kota', 'jumlah_produksi_sampah', 'tahun']]
df_data_sampah

    nama_kabupaten_kota  jumlah_produksi_sampah  tahun
0       KABUPATEN BOGOR                 1511.15   2015
1    KABUPATEN SUKABUMI                  419.01   2015
2     KABUPATEN CIANJUR                  981.41   2015
3     KABUPATEN BANDUNG                 1895.94   2015
4       KABUPATEN GARUT                  464.74   2015
..                  ...                     ...    ...
184         KOTA BEKASI                 1500.77   2021
185          KOTA DEPOK                 1418.87   2021
186         KOTA CIMAHI                  193.36   2021
187    KOTA TASIKMALAYA                  295.87   2021
188         KOTA BANJAR                   60.29   2021

[189 rows x 3 columns]

In [11]:
import pandas as pd

tahun_datasampah = int(input("Masukkan tahun (2015-2021): "))

if tahun_datasampah in df_data_sampah['tahun'].unique():
    data_tahun_datasampah = df_data_sampah[df_data_sampah['tahun'] == tahun_datasampah]
    total_produksi_sampah = data_tahun_datasampah['jumlah_produksi_sampah'].sum()
    print(f"Total produksi sampah di Jawa Barat pada tahun {tahun_datasampah} adalah {total_produksi_sampah:.2f} ton per hari.")
else:
    print(f"Tahun {tahun_datasampah} tidak ada di dalam data. Silakan masukan tahun antara 2015 dan 2021.")

Total produksi sampah di Jawa Barat untuk tahun 2015 adalah 20969.27 ton per hari.